<?xml version="1.0" encoding="UTF-8" ?>

    <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.FKrokin.Flashlight"
    versionCode = "10" 
    version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Flashlight</name>

    <description>
      Turns Flashlight on or off. 
    </description>

    <author href="https://build.phonegap.com" email="Faraz7704@gmail.com">
      Faraz Khan
    </author>

    <!-- We'll include the Flashlight plugin -->
    <gap:plugin name="nl.x-services.plugins.flashlight" version="1.4.1" />
    
</widget>
